<?xml version="1.0"?>
<config>
    <modules>
        <Valibus_Fbreward>
            <version>0.0.1</version>
        </Valibus_Fbreward>
    </modules>
    <frontend>
        <routers>
            <fbrewardrouter>
                <use>standard</use>
                <args>
                    <module>Valibus_Fbreward</module>
                    <frontName>fbreward</frontName>
                </args>
            </fbrewardrouter>
        </routers>
        <layout>
            <updates>
                <fbrewardrouter>
                    <file>valibus/fbreward/fbreward.xml</file>
                </fbrewardrouter>
            </updates>
        </layout>
    </frontend>
    <global>
        <blocks>
            <valibus_fbreward>
                <class>Valibus_Fbreward_Block</class>
            </valibus_fbreward>
        </blocks>
        <helpers>
            <valibus_fbreward>
                <class>Valibus_Fbreward_Helper</class>
            </valibus_fbreward>
        </helpers>
    </global>
</config>