<?xml version="1.0"?>
<config>
    <modules>
        <Valibus_Fbreview>
            <version>0.0.1</version>
        </Valibus_Fbreview>
    </modules>
    <global>
        <helpers>
            <valibus_fbreview>
                <class>Valibus_Fbreview_Helper</class>
            </valibus_fbreview>
        </helpers>
        <blocks>
            <valibus_review>
                <class>Valibus_Review_Block</class>
            </valibus_review>
            <review>
                <rewrite>
                    <helper>Valibus_Fbreview_Block_Count</helper>
                    <product_view_list>Valibus_Fbreview_Block_List</product_view_list>
                </rewrite>
            </review>
        </blocks>
    </global>
    <frontend>
        <layout>
            <updates>
                <valibus_fbreview>
                    <file>valibus/fbinit.xml</file>
                </valibus_fbreview>
            </updates>
        </layout>
    </frontend>
    <adminhtml>
        <translate>
            <modules>
                <Valibus_Fbreview>
                    <files>
                        <default>Valibus_Fbreview.csv</default>
                    </files>
                </Valibus_Fbreview>
            </modules>
        </translate>
    </adminhtml>
</config>